<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>RegisterTest.testRegister()[pri:0, instance:com.BookMyfurniture.ui.tests.RegisterTest@4e9ba398]<br/></td></tr>
</table>
