<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>20/02/24 23:41:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonLibrary.connect()[pri:0, instance:com.BookMyfurniture.ui.tests.RegisterTest@4e9ba398]">&gt;&gt;connect</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/24 23:41:38</td>   <td>12872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;commonLibrary.getResult(org.testng.ITestResult)[pri:0, instance:com.BookMyfurniture.ui.tests.RegisterTest@4e9ba398]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/02/24 23:41:26</td>   <td>723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonLibrary.init()[pri:0, instance:com.BookMyfurniture.ui.tests.RegisterTest@4e9ba398]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>20/02/24 23:41:31</td>   <td>5813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.testRegister()[pri:0, instance:com.BookMyfurniture.ui.tests.RegisterTest@4e9ba398]">testRegister</td> 
  <td>main@1632492873</td>   <td></td> </tr>
</table>
